In [1]:
import pandas as pd
import dataframe_image as dfi
import os
# import matplotlib.pyplot as plt
# from pandas.plotting import table
# from tabulate import tabulate

In [2]:
df = pd.read_json('modeling_results.json')
df

,model,accuracy,mean_accuracy_kfold,precision,r_squared,mean_squared_error,mean_absolute_error
0,rf,0.184211,0.365254,0.180042,-0.135198,2.421053,1.263158
1,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
2,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
3,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
4,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
5,rf,0.179825,0.370736,0.179500,-0.190724,2.539474,1.293860
6,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
7,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
8,rf,0.179825,0.378477,0.189397,-0.161933,2.478070,1.276316
9,xgb,0.193878,0.333333,0.165932,-0.263456,2.510204,1.285714
10,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614

In [3]:
df.drop_duplicates(subset='model', keep='last', inplace=True)

In [4]:
df

,model,accuracy,mean_accuracy_kfold,precision,r_squared,mean_squared_error,mean_absolute_error
7,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
8,rf,0.179825,0.378477,0.189397,-0.161933,2.478070,1.276316
10,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614

In [5]:
df2 = pd.read_json('modeling_test_results.json')

In [8]:
df2.drop_duplicates(subset='model', keep='last', inplace=True)
df2

,model,accuracy,precision,r_squared,mean_squared_error,mean_absolute_error
0,xgb,0.358607,0.335676,0.083958,1.768443,0.956967
1,lgb,0.362705,0.343299,0.062729,1.809426,0.965164
2,rf,0.372951,0.358317,0.130662,1.678279,0.924180

In [13]:
merged_df = pd.merge(df2, df[['model', 'mean_accuracy_kfold']], on='model', how='left')

ordercols = ['model', 'accuracy', 'mean_accuracy_kfold', 'precision', 'r_squared', 'mean_squared_error','mean_absolute_error']

merged_df = merged_df[ordercols]
merged_df

,model,accuracy,mean_accuracy_kfold,precision,r_squared,mean_squared_error,mean_absolute_error
0,xgb,0.358607,0.366347,0.335676,0.083958,1.768443,0.956967
1,lgb,0.362705,0.355328,0.343299,0.062729,1.809426,0.965164
2,rf,0.372951,0.378477,0.358317,0.130662,1.678279,0.924180

In [14]:
# Style the DataFrame
styled_df = merged_df.style.background_gradient(cmap='Blues', subset=['accuracy', 'precision', 'mean_accuracy_kfold']) \
                 .format({'accuracy': '{:.3f}', 'mean_accuracy_kfold': '{:.3f}', 'precision': '{:.3f}',
                          'r_squared': '{:.3f}', 'mean_squared_error': '{:.3f}', 'mean_absolute_error': '{:.3f}'}) \
                 .set_caption('Modeling Results')

In [15]:
styled_df

In [16]:
current = os.getcwd()
parent = os.path.dirname(current)

save_path = os.path.join(parent, 'figures', 'modeling_results.png')
save_path

'/Users/cynthiaxu/Documents/MIDS/05_2024 Summer/210 Capstone/210-capstone-clinicaltrials/figures/modeling_results.png'

In [17]:
dfi.export(styled_df, save_path)