In [1]:
import pandas as pd
import dataframe_image as dfi
import os
# import matplotlib.pyplot as plt
# from pandas.plotting import table
# from tabulate import tabulate

In [2]:
df = pd.read_json('modeling_results.json')
df

,model,accuracy,mean_accuracy_kfold,precision,r_squared,mean_squared_error,mean_absolute_error
0,rf,0.184211,0.365254,0.180042,-0.135198,2.421053,1.263158
1,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
2,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
3,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
4,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
5,rf,0.179825,0.370736,0.179500,-0.190724,2.539474,1.293860

In [3]:
df.drop_duplicates(subset='model', keep='last', inplace=True)

In [4]:
df

,model,accuracy,mean_accuracy_kfold,precision,r_squared,mean_squared_error,mean_absolute_error
3,lgb,0.157895,0.355328,0.161847,-0.347019,2.872807,1.381579
4,xgb,0.184211,0.366347,0.187569,-0.110520,2.368421,1.245614
5,rf,0.179825,0.370736,0.179500,-0.190724,2.539474,1.293860

In [5]:
# Style the DataFrame
styled_df = df.style.background_gradient(cmap='Blues', subset=['accuracy', 'precision', 'mean_accuracy_kfold']) \
                 .format({'accuracy': '{:.3f}', 'mean_accuracy_kfold': '{:.3f}', 'precision': '{:.3f}',
                          'r_squared': '{:.3f}', 'mean_squared_error': '{:.3f}', 'mean_absolute_error': '{:.3f}'}) \
                 .set_caption('Modeling Results')

In [6]:
styled_df

In [7]:
current = os.getcwd()
parent = os.path.dirname(current)

save_path = os.path.join(parent, 'figures', 'modeling_results.png')
save_path

'/Users/cynthiaxu/Documents/MIDS/05_2024 Summer/210 Capstone/210-capstone-clinicaltrials/figures/modeling_results.png'

In [8]:
dfi.export(styled_df, save_path)